// Container
$desktop-l:1440px;
$desktop:1200px;
$tablet:768px;


// Color
$color-primary:  rgba(0, 0, 0, 1);
$color-second: rgba(255, 255, 255, 1);
$color-third: rgba(214, 126, 53, 1);
$color-brown: rgba(188, 144, 96, 1);
$color-black: rgba(44, 44, 44, 1);
$color-grey: rgba(101, 99, 99, 1);

// Font Family
$font-primary: 'Open Sans', sans-serif;
$font-second:'Tinos', serif;



